<!-- templates/services.html -->
{% extends 'base.html' %}
{% block title %}Services - Cyber Forum{% endblock %}
{% block content %}
    <h2 class="text-light">Services</h2>
    <div class="card bg-dark border-secondary">
        <div class="card-body">
            <table class="table table-dark table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Posts</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="text-light">
                    <tr>
                        <td>Sell Services</td>
                        <td>{{ category_counts.services.Sell | default(0) }}</td>
                        <td><a href="{{ url_for('category', post_type='services', category='Sell') }}" class="btn btn-outline-secondary btn-sm">View</a></td>
                    </tr>
                    <tr>
                        <td>Buy Services</td>
                        <td>{{ category_counts.services.Buy | default(0) }}</td>
                        <td><a href="{{ url_for('category', post_type='services', category='Buy') }}" class="btn btn-outline-secondary btn-sm">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}